<h1>A selection of pictures from previous safaris</h1>

<br>
<br>
<br>

<div class="container-blog__margin--medium">

<div class="background-white">

<div>
    <a target="_blank" href= <%=root_path %>>
        <div class="card-trip">
            <%= image_tag("elefante.jpg", class: "object-fit_cover") %>
                <div class="card-trip-infos">
                    <div>
                        <h2>Serengeti & Ngorongoro Ecosystem</h2>
                        <p>A four day safari expedition during February 2020</p>
                    </div>
                    <h2 class="card-trip-pricing">$2400</h2>
                    <%= image_tag("cool_pic.jpg", class: "card-trip-user avatar-bordered") %>
                </div>
        </div>
</div>
<br>
<br>
<br>

</div>
</div>

<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  Breakfast
</div>

<br>
<br>
<br>
<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>



