<h1>Safari Expeditions</h1>
<p>Tanzania</p>

<div class="safari-video-wrapper">
  <%= video_tag "elefante.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "safari_video" %>
  <h1 class="safari"> </h1>
    <div class="wrapper">
    <a class="btn btn-flat" href="#">Book now</a>
    </div>
</div>