<h1>Safari Expeditions</h1>
<p>Tanzania</p>

<div class="safari-video-wrapper">
 <%= video_tag ["elefante.mp4"], autoplay: :autoplay, loop: :loop, mute: :mute, class: "safari_video" %>

 
  
<div class="wrapper">
<%= link_to "Book Now", booking_path, class: 'btn btn-flat' %>
</div>